In [1]:
from splinter import Browser
from bs4 import BeautifulSoup as bs
import time
import requests
import os
import pandas as pd 
import pprint
import pymongo

In [2]:
url = 'https://www.nps.gov/aboutus/visitation-numbers.htm'
browser = Browser('chrome')
browser.visit(url)
html = browser.html

In [7]:
conn = 'mongodb://localhost:27017'

client = pymongo.MongoClient(conn)
db = client.top10_db

In [4]:
soup = bs(html, 'lxml')

In [5]:
top10 = soup.find('div', class_='table-wrapper').find
top10

<bound method Tag.find of <div class="table-wrapper"><table align="left" border="1" cellpadding="1" cellspacing="1" style="width:500px;">
<thead>
<tr>
<th scope="col" style="text-align: center;"> </th>
<th scope="col" style="text-align: center;">Park</th>
<th scope="col" style="text-align: center;">Recreational Visits</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align: center;">1</td>
<td>Golden Gate National Recreation Area</td>
<td style="text-align: right;">15,223,697 </td>
</tr>
<tr>
<td style="text-align: center;">2</td>
<td>Blue Ridge Parkway</td>
<td style="text-align: right;">14,690,418 </td>
</tr>
<tr>
<td style="text-align: center;">3</td>
<td>Great Smoky Mountains National Park</td>
<td style="text-align: right;">11,421,200 </td>
</tr>
<tr>
<td style="text-align: center;">4</td>
<td>Gateway National Recreation Area</td>
<td style="text-align: right;">9,243,305 </td>
</tr>
<tr>
<td style="text-align: center;">5</td>
<td>Lincoln Memorial</td>
<td style="text-align: right;">7,804,683 </td>
</tr>
<tr>
<td style="text-align: center;">6</td>
<td>Lake Mead National Recreation Area</td>
<td style="text-align: right;">7,578,958 </td>
</tr>
<tr>
<td style="text-align: center;">7</td>
<td>George Washington Memorial Parkway</td>
<td style="text-align: right;">7,288,623 </td>
</tr>
<tr>
<td style="text-align: center;">8</td>
<td>Grand Canyon National Park</td>
<td style="text-align: right;">6,380,495 </td>
</tr>
<tr>
<td style="text-align: center;">9</td>
<td>Natchez Trace Parkway</td>
<td style="text-align: right;">6,362,439 </td>
</tr>
<tr>
<td style="text-align: center;">10 </td>
<td>Vietnam Veterans Memorial</td>
<td style="text-align: right;">4,719,148 </td>
</tr>
</tbody>
</table></div>>

In [6]:
tables = pd.read_html(html)
top10list = tables[1]
top10list

   Unnamed: 0                                 Park  Recreational Visits
0           1  Great Smoky Mountains National Park             11421200
1           2           Grand Canyon National Park              6380495
2           3         Rocky Mountain National Park              4590493
3           4                   Zion National Park              4320033
4           5            Yellowstone National Park              4115000
5           6               Yosemite National Park              4009436
6           7                 Acadia National Park              3537575
7           8            Grand Teton National Park              3491151
8           9                Olympic National Park              3104455
9          10                Glacier National Park              2965309

In [22]:
top10list.to_dict(orient = "records")

[{'Unnamed: 0': 1,
  'Park': 'Great Smoky Mountains National Park',
  'Recreational Visits': 11421200},
 {'Unnamed: 0': 2,
  'Park': 'Grand Canyon National Park',
  'Recreational Visits': 6380495},
 {'Unnamed: 0': 3,
  'Park': 'Rocky Mountain National Park',
  'Recreational Visits': 4590493},
 {'Unnamed: 0': 4,
  'Park': 'Zion National Park',
  'Recreational Visits': 4320033},
 {'Unnamed: 0': 5,
  'Park': 'Yellowstone National Park',
  'Recreational Visits': 4115000},
 {'Unnamed: 0': 6,
  'Park': 'Yosemite National Park',
  'Recreational Visits': 4009436},
 {'Unnamed: 0': 7,
  'Park': 'Acadia National Park',
  'Recreational Visits': 3537575},
 {'Unnamed: 0': 8,
  'Park': 'Grand Teton National Park',
  'Recreational Visits': 3491151},
 {'Unnamed: 0': 9,
  'Park': 'Olympic National Park',
  'Recreational Visits': 3104455},
 {'Unnamed: 0': 10,
  'Park': 'Glacier National Park',
  'Recreational Visits': 2965309}]

In [23]:
db.top10list.insert(top10list.to_dict(orient = "records"))

C:\Users\taraj\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: insert is deprecated. Use insert_one or insert_many instead.
  """Entry point for launching an IPython kernel.

[ObjectId('5cac07b989f9e12ffc5d933f'),
 ObjectId('5cac07b989f9e12ffc5d9340'),
 ObjectId('5cac07b989f9e12ffc5d9341'),
 ObjectId('5cac07b989f9e12ffc5d9342'),
 ObjectId('5cac07b989f9e12ffc5d9343'),
 ObjectId('5cac07b989f9e12ffc5d9344'),
 ObjectId('5cac07b989f9e12ffc5d9345'),
 ObjectId('5cac07b989f9e12ffc5d9346'),
 ObjectId('5cac07b989f9e12ffc5d9347'),
 ObjectId('5cac07b989f9e12ffc5d9348')]